In [5]:
pwd

'/Users/kousuke.suzuki/Desktop/Python_Study'

In [3]:
from pandas import Series, DataFrame
import pandas as pd

In [21]:
df=pd.read_csv('13_tokyo_all_20151130.csv',header=None,encoding='utf-8')
print(df.head())

   0              1   2   3           4           5          6   7    8    9   \
0   1  1000011000005   1   0  2015-10-26  2015-10-05    国立国会図書館 NaN  101  東京都
1   2  1000012010003   1   0  2015-10-26  2015-10-05      内閣法制局 NaN  101  東京都
2   3  1000012010011   1   0  2015-10-26  2015-10-05  郵政民営化推進本部 NaN  101  東京都
3   4  1000012010028   1   0  2015-10-26  2015-10-05  国土強靱化推進本部 NaN  101  東京都
4   5  1000012020002   1   0  2015-10-26  2015-10-05   公害等調整委員会 NaN  101  東京都

      ...      13   14       15  16  17   18  19  20   21          22
0     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
1     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05
2     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
3     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
4     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05

[5 rows x 23 columns]

In [7]:
len(df)

911927

In [8]:
df.shape

(911927, 23)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911927 entries, 0 to 911926
Data columns (total 23 columns):
0     911927 non-null int64
1     911927 non-null int64
2     911927 non-null int64
3     911927 non-null int64
4     911927 non-null object
5     911927 non-null object
6     911927 non-null object
7     9560 non-null float64
8     911927 non-null int64
9     911927 non-null object
10    911927 non-null object
11    911921 non-null object
12    8617 non-null float64
13    911927 non-null int64
14    911927 non-null int64
15    911572 non-null float64
16    0 non-null float64
17    0 non-null float64
18    1699 non-null object
19    1699 non-null float64
20    151 non-null float64
21    250 non-null object
22    911927 non-null object
dtypes: float64(7), int64(7), object(9)
memory usage: 167.0+ MB

In [11]:
df.describe()

,0,1,2,3,7,8,12,13,14,15,16,17,19,20
count,911927.000000,9.119270e+05,911927.000000,911927.000000,9560.000000,911927.000000,8617.000000,911927,911927.000000,911572.000000,0,0,1699.000000,1.510000e+02
mean,455964.000000,5.011735e+12,1.122989,0.000068,56552.094979,307.197201,60884.309621,13,123.100889,1416859.647173,NaN,NaN,1.906416,4.842586e+12
std,263250.793803,2.581233e+12,1.454541,0.008245,5782.293187,22.908020,7407.177783,0,36.270640,305537.415380,NaN,NaN,2.892267,2.583937e+12
min,1.000000,1.000011e+12,1.000000,0.000000,15638.000000,101.000000,49079.000000,13,101.000000,1000000.000000,NaN,NaN,1.000000,1.010001e+12
25%,227982.500000,3.010402e+12,1.000000,0.000000,52305.750000,301.000000,56540.000000,13,104.000000,1100012.000000,NaN,NaN,1.000000,3.010001e+12
50%,455964.000000,5.011001e+12,1.000000,0.000000,55957.500000,301.000000,61021.000000,13,111.000000,1430023.000000,NaN,NaN,1.000000,5.010001e+12
75%,683945.500000,7.011605e+12,1.000000,0.000000,59708.250000,302.000000,64655.000000,13,119.000000,1660004.000000,NaN,NaN,1.000000,7.010701e+12
max,911927.000000,9.700150e+12,72.000000,1.000000,105113.000000,499.000000,105083.000000,13,421.000000,2080035.000000,NaN,NaN,21.000000,9.470001e+12

In [12]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1,1000011000005,1,0,2015-10-26,2015-10-05,国立国会図書館,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
1,2,1000012010003,1,0,2015-10-26,2015-10-05,内閣法制局,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
2,3,1000012010011,1,0,2015-10-26,2015-10-05,郵政民営化推進本部,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
3,4,1000012010028,1,0,2015-10-26,2015-10-05,国土強靱化推進本部,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
4,5,1000012020002,1,0,2015-10-26,2015-10-05,公害等調整委員会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
5,6,1000012030001,1,0,2015-10-26,2015-10-05,法務省,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
6,7,1000012090004,1,0,2015-10-26,2015-10-05,中小企業庁,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
7,8,1000012100002,1,0,2015-10-26,2015-10-05,運輸安全委員会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
8,9,1000012110001,1,0,2015-10-26,2015-10-05,環境省,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
9,10,1000012160005,1,0,2015-10-26,2015-10-05,東京第五検察審査会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05

In [13]:
df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
911917,911918,9490001005338,1,0,2015-10-28,2015-10-05,池田紙業株式会社,NaN,301,東京都,...,13,112,1540002,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911918,911919,9490002007531,1,0,2015-10-26,2015-10-05,株式会社神榮,NaN,301,東京都,...,13,102,1030014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911919,911920,9500001003216,1,0,2015-10-28,2015-10-05,株式会社共生,NaN,301,東京都,...,13,113,1500002,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911920,911921,9500001007794,1,0,2015-10-26,2015-10-05,Ｆ＆Ｙカンパニー株式会社,NaN,301,東京都,...,13,102,1040033,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911921,911922,9500001008867,1,0,2015-10-26,2015-10-05,株式会社アドバンテック,NaN,301,東京都,...,13,101,1000005,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911922,911923,9500001010971,1,0,2015-10-28,2015-10-05,株式会社アソラ,NaN,301,東京都,...,13,116,1700013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911923,911924,9500001016250,1,0,2015-10-28,2015-10-05,株式会社ジオプラウド,NaN,301,東京都,...,13,114,1640003,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911924,911925,9700150003509,1,0,2015-11-20,2015-10-09,日本粘着テープ工業会,NaN,499,東京都,...,13,101,1010047,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-09
911925,911926,9700150011016,1,1,2015-11-17,2015-10-09,キーサイト・テクノロジー厚生年金基金,NaN,499,東京都,...,13,201,1920033,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-09
911926,911927,9700150066828,1,0,2015-11-17,2015-11-11,三井住友海上企業年金基金,NaN,499,東京都,...,13,101,1010062,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-11

In [28]:
df.query("index==10")

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
10,11,1000013020001,1,0,2015-10-26,2015-10-05,知的財産高等裁判所,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05

In [32]:
df.ix[:,9:13]

    9     10                      11  12  13
0  東京都  千代田区              永田町１丁目１０－１ NaN  13
1  東京都  千代田区     霞が関３丁目１－１中央合同庁舎第４号館 NaN  13
2  東京都  千代田区             永田町１丁目１１－３９ NaN  13
3  東京都  千代田区               永田町１丁目６－１ NaN  13
4  東京都  千代田区  霞が関３丁目１－１中央合同庁舎第４号館１０階 NaN  13

In [38]:
df_tokyo=pd.read_csv('13_tokyo_all_20151130.csv',header=None,encoding='utf-8',names=[0,'corporateNumber',2,3,4,5,'name',7,8,'prefectureName','cityName','streetNumber',12,'process','kind',15,16,17,18,19,20,21,22])

In [48]:
df_tokyo=df.ix[:,[1,6,9,10,11,13,14]]

In [50]:
df_tokyo.columns=['corporateNumber','name','prefectureName','cityName','streetNumber','process','kind']

In [66]:
df_tokyo.head()

,corporateNumber,name,prefectureName,cityName,streetNumber,process,kind
0,1000011000005,国立国会図書館,東京都,千代田区,永田町１丁目１０－１,13,101
1,1000012010003,内閣法制局,東京都,千代田区,霞が関３丁目１－１中央合同庁舎第４号館,13,101
2,1000012010011,郵政民営化推進本部,東京都,千代田区,永田町１丁目１１－３９,13,101
3,1000012010028,国土強靱化推進本部,東京都,千代田区,永田町１丁目６－１,13,101
4,1000012020002,公害等調整委員会,東京都,千代田区,霞が関３丁目１－１中央合同庁舎第４号館１０階,13,101

In [64]:
df_tokyo.query("cityName=='渋谷区'").count()

corporateNumber    64102
name               64102
prefectureName     64102
cityName           64102
streetNumber       64102
process            64102
kind               64102
dtype: int64

問題5-1: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [74]:
df_tokyo[df_tokyo['streetNumber'].str.contains("1")].head()

ValueError: cannot index with vector containing NA / NaN values

In [73]:
df_tokyo.query("streetNumber like '５丁目'").count()

SyntaxError: invalid syntax (<unknown>, line 1)

In [79]:
df_tokyo.query("corporateNumber % 120 == 0").count()

corporateNumber    7635
name               7635
prefectureName     7635
cityName           7635
streetNumber       7635
process            7635
kind               7635
dtype: int64

問題5-3: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [96]:
df_tokyo['streetNumber'].str.contains('５丁目')[df_tokyo['streetNumber'].str.contains('５丁目')==True].count()

65641

問題5-2: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [89]:
df_tokyo.count()

corporateNumber    911927
name               911927
prefectureName     911927
cityName           911927
streetNumber       911921
process            911927
kind               911927
dtype: int64

In [102]:
df.count()

0     911927
1     911927
2     911927
3     911927
4     911927
5     911927
6     911927
7       9560
8     911927
9     911927
10    911927
11    911921
12      8617
13    911927
14    911927
15    911572
16         0
17         0
18      1699
19      1699
20       151
21       250
22    911927
dtype: int64

問題6-2: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [128]:
df_delnacol=df.dropna(axis=1,how='all')
df_delnacol.count()

0     911927
1     911927
2     911927
3     911927
4     911927
5     911927
6     911927
7       9560
8     911927
9     911927
10    911927
11    911921
12      8617
13    911927
14    911927
15    911572
18      1699
19      1699
20       151
21       250
22    911927
dtype: int64

In [130]:
len(df_delnacol)*2

1823854

問題6-1: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [131]:
df_delnacol.fillna(' ')

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,18,19,20,21,22
0,1,1000011000005,1,0,2015-10-26,2015-10-05,国立国会図書館,,101,東京都,...,永田町１丁目１０－１,,13,101,1.00001e+06,,,,,2015-10-05
1,2,1000012010003,1,0,2015-10-26,2015-10-05,内閣法制局,,101,東京都,...,霞が関３丁目１－１中央合同庁舎第４号館,,13,101,1.00001e+06,,,,,2015-10-05
2,3,1000012010011,1,0,2015-10-26,2015-10-05,郵政民営化推進本部,,101,東京都,...,永田町１丁目１１－３９,,13,101,1.00001e+06,,,,,2015-10-05
3,4,1000012010028,1,0,2015-10-26,2015-10-05,国土強靱化推進本部,,101,東京都,...,永田町１丁目６－１,,13,101,1.00001e+06,,,,,2015-10-05
4,5,1000012020002,1,0,2015-10-26,2015-10-05,公害等調整委員会,,101,東京都,...,霞が関３丁目１－１中央合同庁舎第４号館１０階,,13,101,1.00001e+06,,,,,2015-10-05
5,6,1000012030001,1,0,2015-10-26,2015-10-05,法務省,,101,東京都,...,霞が関１丁目１－１,,13,101,1.00001e+06,,,,,2015-10-05
6,7,1000012090004,1,0,2015-10-26,2015-10-05,中小企業庁,,101,東京都,...,霞が関１丁目３－１,,13,101,1.00001e+06,,,,,2015-10-05
7,8,1000012100002,1,0,2015-10-26,2015-10-05,運輸安全委員会,,101,東京都,...,霞が関２丁目１－２,,13,101,1.00001e+06,,,,,2015-10-05
8,9,1000012110001,1,0,2015-10-26,2015-10-05,環境省,,101,東京都,...,霞が関１丁目２－２中央合同庁舎第５号館,,13,101,1.00001e+06,,,,,2015-10-05
9,10,1000012160005,1,0,2015-10-26,2015-10-05,東京第五検察審査会,,101,東京都,...,霞が関１丁目１－４,,13,101,1.00001e+06,,,,,2015-10-05
10,11,1000013020001,1,0,2015-10-26,2015-10-05,知的財産高等裁判所,,101,東京都,...,霞が関１丁目１－４,,13,101,1.00001e+06,,,,,2015-10-05
11,12,1000013050007,1,0,2015-10-26,2015-10-05,武蔵野簡易裁判所,,101,東京都,...,中町２丁目４－１２,,13,203,1.80001e+06,,,,,2015-10-05
12,13,1000020131105,1,0,2015-10-26,2015-10-05,目黒区,,201,東京都,...,上目黒２丁目１９－１５,,13,110,1.53005e+06,,,,,2015-10-05
13,14,1000020131113,1,0,2015-10-26,2015-10-05,大田区,,201,東京都,...,蒲田５丁目１３－１４,,13,111,1.44005e+06,,,,,2015-10-05
14,15,1000020131121,1,0,2015-10-26,2015-10-05,世田谷区,,201,東京都,...,世田谷４丁目２１－２７,,13,112,1.54002e+06,,,,,2015-10-05
15,16,1000020131229,1,0,2015-10-26,2015-10-05,葛飾区,,201,東京都,...,立石５丁目１３－１,,13,122,1.24001e+06,,,,,2015-10-05
16,17,1000020131237,1,0,2015-10-26,2015-10-05,江戸川区,,201,東京都,...,中央１丁目４－１,,13,123,1.32002e+06,,,,,2015-10-05
17,18,1000020132012,1,0,2015-10-26,2015-10-05,八王子市,,201,東京都,...,元本郷町３丁目２４－１,,13,201,1.92005e+06,,,,,2015-10-05
18,19,1000020132128,1,0,2015-10-26,2015-10-05,日野市,,201,東京都,...,神明１丁目１２－１,,13,212,1.91002e+06,,,,,2015-10-05
19,20,1000020132136,1,0,2015-10-26,2015-10-05,東村山市,,201,東京都,...,本町１丁目２番地３,,13,213,1.89001e+06,,,,,2015-10-05
20,21,1000020132144,1,0,2015-10-26,2015-10-05,国分寺市,,201,東京都,...,戸倉１丁目６－１,,13,214,1.85e+06,,,,,2015-10-05
21,22,1000020132152,1,0,2015-10-26,2015-10-05,国立市,,201,東京都,...,富士見台２丁目４７－１,,13,215,1.86e+06,,,,,2015-10-05
22,23,1000020132276,1,0,2015-10-26,2015-10-05,羽村市,,201,東京都,...,緑ヶ丘５丁目２－１,,13,227,2.05e+06,,,,,2015-10-05
23,24,1000020132284,1,0,2015-10-26,2015-10-05,あきる野市,,201,東京都,...,二宮３５０,,13,228,1.97081e+06,,,,,2015-10-05
24,25,1000020132292,1,0,2015-10-26,2015-10-05,西東京市,,201,東京都,...,南町５丁目６－１３,,13,229,1.88001e+06,,,,,2015-10-05
25,26,1000020133035,1,0,2015-10-26,2015-10-05,瑞穂町,,201,東京都,...,大字箱根ケ崎２３３５,,13,303,1.90122e+06,,,,,2015-10-05
26,27,1000020133051,1,0,2015-10-26,2015-10-05,日の出町,,201,東京都,...,大字平井２７８０,,13,305,1.90018e+06,,,,,2015-10-05
27,28,1000020133621,1,0,2015-10-26,2015-10-05,利島村,,201,東京都,...,２４８,,13,362,1.0003e+06,,,,,2015-10-05
28,29,1000020138240,1,0,2015-10-26,2015-10-05,青梅、羽村地区工業用水道企業団,,201,東京都,...,緑ヶ丘２丁目１８－５,,13,227,2.05e+06,,,,,2015-10-05
29,30,1000030130006,1,0,2015-10-26,2015-10-05,箱根ケ崎財産区,,201,東京都,...,大字箱根ケ崎２３３５,,13,303,1.90122e+06,,,,,2015-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911897,911898,9430001023849,1,0,2015-10-28,2015-10-05,ヨシダアセットマネジメント株式会社,,301,東京都,...,有明３丁目７番２６号有明フロンティアビルＢ棟９階,,13,108,1.35006e+06,,,,,2015-10-05
911898,911899,9430001024228,1,0,2015-10-26,2015-10-05,シャトー株式会社,,301,東京都,...,日本橋馬喰町２丁目２番１２号,,13,102,1.03e+06,,,,,2015-10-05
911899,911900,9430001032809,1,0,2015-10-26,2015-10-05,株式会社グローバルインターナショナルホールディングス,,301,東京都,...,赤坂３丁目２１番１７号,,13,103,1.07005e+06,,,,,2015-10-05
911900,911901,9430001041719,1,0,2015-10-26,2015-10-05,インベストメントキャピタル株式会社,,301,東京都,...,銀座７丁目１３番５号,,13,102,1.04006e+06,,,,,2015-10-05
911901,911902,9430001045372,1,0,2015-10-26,2015-10-05,株式会社トリプルエス,,301,東京都,...,晴海３丁目６番８－４９０７号,,13,102,1.04005e+06,,,,,2015-10-05
911902,911903,9430001061155,1,0,2015-10-28,2015-10-05,株式会社Ｃｒｏｓｓｒｏａｄ,,301,東京都,...,西五反田７丁目１番１１－８０２号,,13,109,1.41003e+06,,,,,2015-10-05
911903,911904,9430001061881,1,0,2015-10-28,2015-10-05,株式会社永井地所,,301,東京都,...,神宮前４丁目２３番３号東高神宮前ペアシティ２０６号室,,13,113,1.5e+06,,,,,2015-10-05
911904,911905,9430001062293,1,0,2015-10-26,2015-10-05,株式会社メディット,,301,東京都,...,南青山３丁目８番３７号第２宮忠ビル６階,,13,103,1.07006e+06,,,,,2015-10-05
911905,911906,9430001062574,1,0,2015-10-26,2015-10-05,日本メガソーラー整備事業株式会社,,301,東京都,...,芝２丁目３番１８号ＹＭ芝公園ビル３階,,13,103,1.05001e+06,,,,,2015-10-05
911906,911907,9430001063226,1,0,2015-10-26,2015-10-05,株式会社エアネーレン,,301,東京都,...,銀座３丁目１１番３号,,13,102,1.04006e+06,,,,,2015-10-05
911907,911908,9430001066550,12,0,2015-11-19,2015-11-16,株式会社サイバーラボ・ルル,,301,東京都,...,原町田１丁目１３－１－３１５,,13,209,1.94001e+06,,,,,2015-10-05
911908,911909,9430002021323,1,0,2015-10-28,2015-10-05,有限会社ヨシトミ実業,,302,東京都,...,歌舞伎町２丁目１８番５－１８０５号,,13,104,1.60002e+06,,,,,2015-10-05
911909,911910,9440001005012,1,0,2015-10-26,2015-10-05,株式会社ノースジャパン,,301,東京都,...,入船１丁目７番３号池田ビル２階,,13,102,1.04004e+06,,,,,2015-10-05
911910,911911,9440002008253,1,0,2015-10-26,2015-10-05,有限会社コンテクスト,,302,東京都,...,八丁堀２丁目２９番１６－３０２号,,13,102,1.04003e+06,,,,,2015-10-05
911911,911912,9460101004639,1,0,2015-10-28,2015-10-05,アルタジャパン株式会社,,301,東京都,...,広尾５丁目４番１２号,,13,113,1.50001e+06,,,,,2015-10-05
911912,911913,9470001004201,12,0,2015-11-27,2015-11-06,株式会社夢や,,301,東京都,...,代々木３丁目３８番９号,,13,113,1.51005e+06,,,,,2015-10-05
911913,911914,9470001010769,1,0,2015-10-26,2015-10-05,株式会社ナテックラボ,,301,東京都,...,岩本町３丁目７番２号,,13,101,1.01003e+06,,,,,2015-10-05
911914,911915,9470001012906,1,0,2015-10-28,2015-10-05,株式会社高松社中,,301,東京都,...,南馬込２丁目２２番１号エスポアール馬込２０３,,13,111,1.43002e+06,,,,,2015-10-05
911915,911916,9470002010388,1,0,2015-10-30,2015-10-05,有限会社ノーザンアーティクル,,302,東京都,...,千人町３丁目１９番７号メゾンファミーユ２０６号,,13,201,1.93084e+06,,,,,2015-10-05
911916,911917,9480001003565,12,0,2015-11-27,2015-10-05,株式会社社宅．ｃｏｍ,,301,東京都,...,西麻布１丁目９番７号,,13,103,1.06003e+06,,,,,2015-10-05
911917,911918,9490001005338,1,0,2015-10-28,2015-10-05,池田紙業株式会社,,301,東京都,...,下馬６丁目２３番１２号,,13,112,1.54e+06,,,,,2015-10-05
911918,911919,9490002007531,1,0,2015-10-26,2015-10-05,株式会社神榮,,301,東京都,...,日本橋蛎殻町２丁目８番５号興洋ビル６Ｆ,,13,102,1.03001e+06,,,,,2015-10-05
911919,911920,9500001003216,1,0,2015-10-28,2015-10-05,株式会社共生,,301,東京都,...,渋谷３丁目１７番４号アクシーズ７号館８階,,13,113,1.5e+06,,,,,2015-10-05
911920,911921,9500001007794,1,0,2015-10-26,2015-10-05,Ｆ＆Ｙカンパニー株式会社,,301,東京都,...,新川２丁目１８番４号八重洲マンション４０１,,13,102,1.04003e+06,,,,,2015-10-05
911921,911922,9500001008867,1,0,2015-10-26,2015-10-05,株式会社アドバンテック,,301,東京都,...,丸の内１丁目８番３号,,13,101,1.00000e+06,,,,,2015-10-05
911922,911923,9500001010971,1,0,2015-10-28,2015-10-05,株式会社アソラ,,301,東京都,...,東池袋５丁目８番１４－１０１号,,13,116,1.70001e+06,,,,,2015-10-05
911923,911924,9500001016250,1,0,2015-10-28,2015-10-05,株式会社ジオプラウド,,301,東京都,...,東中野３丁目２番４号三光ビル２０２,,13,114,1.64e+06,,,,,2015-10-05
911924,911925,9700150003509,1,0,2015-11-20,2015-10-09,日本粘着テープ工業会,,499,東京都,...,内神田１丁目９－１２興亜第２ビル,,13,101,1.01005e+06,,,,,2015-10-09
911925,911926,9700150011016,1,1,2015-11-17,2015-10-09,キーサイト・テクノロジー厚生年金基金,,499,東京都,...,高倉町９番１号,,13,201,1.92003e+06,,,,,2015-10-09
911926,911927,9700150066828,1,0,2015-11-17,2015-11-11,三井住友海上企業年金基金,,499,東京都,...,神田駿河台３丁目９番地,,13,101,1.01006e+06,,,,,2015-11-11

問題6-3: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [148]:
df_g=df_tokyo.groupby('name')['corporateNumber'].count()
df_g

name
МＩＫＩ・ＦＵＮＤ・ＣОＲＰОＲＡＴＩОＮ株式会社    1
ⅰ－Ｓｅｅ株式会社                    1
ⅰ３Ｄ　Ｔｕｂｅ株式会社                 1
〆サヴァ・ブランディング・ワークス株式会社        1
「福寿院」                        1
あぁグループ株式会社                   1
ああ頑張ります株式会社                  1
あいいな株式会社                     1
あいうえお株式会社                    1
あいおいサービス株式会社                 1
あいおいニッセイ同和損害保険労働組合           1
あいおいニッセイ同和損害保険営業職員労働組合       1
あいおいニッセイ同和損害保険株式会社           1
あいおいニッセイ同和損害調査株式会社           1
あいおり有限会社                     1
あいかわ株式会社                     1
あいか相続対策研究所株式会社               1
あいくる日本株式会社                   1
あいだサポート株式会社                  1
あいづシステム開発株式会社                1
あいづ総業有限会社                    1
あいふらっと株式会社                   1
あいぶっく介護株式会社                  1
あいぽーとタワー管理株式会社               1
あいゆう株式会社                     1
あいゆう税理士法人                    1
あいるネットワーク株式会社                1
あいれん株式会社                     1
あいわ特許業務法人                    1
あいわ税理士法人                     1
                            ..
ｘｉａｏｘｉ株式会社                   1
ｘｘｘ株式会社                      1
ｙ’ｓ　ＬＬＣ合同会社                  1
ｙ’ｓ　ｃｏｍｐａｎｙ合同会社              1
ｙ－Ｆａｃｔｏｒｙ有限会社                1
ｙ－ｈｏｎｐｏ株式会社                  1
ｙａｓ有限会社                      1
ｙａｚコミュニケーションズ株式会社            1
ｙｅｎｗｏｒｋ株式会社                  1
ｙｏｏｍｉＪＡＰＡＮ株式会社               1
ｙｏｕｃａｎ株式会社                   1
ｙｏｕｒ　ｃａｓｅ合同会社                1
ｙｙ合同会社                       1
ｚ－ａｎｓｈｉｎ株式会社                 1
ｚＳｐａｃｅ株式会社                   1
ｚａｉｋｏ有限会社                    1
ｚｅｎｊｏｈ株式会社                   1
ｚｅｎｓ株式会社                     1
ｚｏｅｔｒｏｐｅ合同会社                 1
𣘺建設株式会社                      1
𣘺本商事合資会社                     1
𣘺本忠商事株式会社                    1
𣘺本美装株式会社                     1
𣜜原商事株式会社                     1
𣳾山工業株式会社                     1
𣳾成商事株式会社                     1
𣳾昌商事株式会社                     1
𣳾明建物株式会社                     1
𣳾東産業合資会社                     1
𣳾豊商事株式会社                     1
Name: corporateNumber, dtype: int64

問題7-1: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [154]:
len(df_g[df_g>=2])

62496

問題7-2: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [156]:
len(df_g[df_g==1])

711957

In [171]:
s1 = "　　渋谷区100丁目９９９９　－1 Aビル2階  "
s2 = "　　渋谷区100丁目９９９９番　－1号 Aビル2階  "

In [177]:
def normalize_text(s1):
    
    s1=s1.lower().strip().replace('丁目','-').replace('番','-').replace('号','-').replace('階','F')
    
    return s1

In [178]:
df_tokyo['street']=df_tokyo['street'].map(normalize_text,[s1,s2])

問題8: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [181]:
df_tokyo['corporateNumber'].value_counts()

4010901001802    1
5011402018269    1
3010405002884    1
7010601032632    1
7010001046737    1
9011302015949    1
4013202005506    1
9012705000406    1
3010603003222    1
4010401091121    1
5013301020033    1
3012802002590    1
2011701015250    1
4011801020009    1
3010902019712    1
4011801026154    1
2011002035907    1
9011002027468    1
7010001145902    1
9012701002678    1
8010402006025    1
3010602032882    1
9011601003299    1
2013202003791    1
5010401058912    1
3010802010655    1
6010001137165    1
4011302016563    1
5010002021848    1
9012401001443    1
                ..
5010001164375    1
3010401086155    1
8013301028973    1
6010901035377    1
6010002035269    1
8010602000488    1
6030002020021    1
6010402019004    1
4010405007916    1
7010902022349    1
9011402006501    1
2010001113863    1
7010902024394    1
2010702015251    1
7010405007558    1
9010001092589    1
6011602023290    1
7011402017665    1
5010601021868    1
9010001147888    1
9010701005478    1
9010603005948    1
5010901021080    1
3010601036983    1
2011802013343    1
3011105003198    1
5010901035411    1
5012301005556    1
1011501020088    1
1011702016117    1
Name: corporateNumber, dtype: int64

問題9: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [182]:
df_mg=DataFrame({'name':['あいいな株式会社','あいうえお株式会社','あいおいサービス株式会社'],
                'prefectureName':['東京都','東京都','東京都'],
                'cityName':['渋谷区何某','新宿区何某','千代田区何某'],
                'streetNumber':['１丁目1番地','２丁目２番地','３丁目３番地']})

In [183]:
df_mg

  cityName          name prefectureName streetNumber
0    渋谷区何某      あいいな株式会社            東京都       １丁目1番地
1    新宿区何某     あいうえお株式会社            東京都       ２丁目２番地
2   千代田区何某  あいおいサービス株式会社            東京都       ３丁目３番地

In [187]:
pd.merge(df_tokyo,df_mg,on=['name','prefectureName'],how='inner')

,corporateNumber,name,prefectureName,cityName_x,streetNumber_x,process,kind,street,cityName_y,streetNumber_y
0,3010901021520,あいうえお株式会社,東京都,世田谷区,羽根木１丁目６番１５号,13,112,東京都,新宿区何某,２丁目２番地
1,3012401030191,あいいな株式会社,東京都,稲城市,矢野口９５３番地,13,225,東京都,渋谷区何某,１丁目1番地
2,4010001110371,あいおいサービス株式会社,東京都,中央区,日本橋人形町１丁目１２番１１－２１０９号,13,102,東京都,千代田区何某,３丁目３番地

問題10-1: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)

In [186]:
pd.merge(df_tokyo,df_mg,on=['name','prefectureName'],how='left')

,corporateNumber,name,prefectureName,cityName_x,streetNumber_x,process,kind,street,cityName_y,streetNumber_y
0,1000011000005,国立国会図書館,東京都,千代田区,永田町１丁目１０－１,13,101,東京都,NaN,NaN
1,1000012010003,内閣法制局,東京都,千代田区,霞が関３丁目１－１中央合同庁舎第４号館,13,101,東京都,NaN,NaN
2,1000012010011,郵政民営化推進本部,東京都,千代田区,永田町１丁目１１－３９,13,101,東京都,NaN,NaN
3,1000012010028,国土強靱化推進本部,東京都,千代田区,永田町１丁目６－１,13,101,東京都,NaN,NaN
4,1000012020002,公害等調整委員会,東京都,千代田区,霞が関３丁目１－１中央合同庁舎第４号館１０階,13,101,東京都,NaN,NaN
5,1000012030001,法務省,東京都,千代田区,霞が関１丁目１－１,13,101,東京都,NaN,NaN
6,1000012090004,中小企業庁,東京都,千代田区,霞が関１丁目３－１,13,101,東京都,NaN,NaN
7,1000012100002,運輸安全委員会,東京都,千代田区,霞が関２丁目１－２,13,101,東京都,NaN,NaN
8,1000012110001,環境省,東京都,千代田区,霞が関１丁目２－２中央合同庁舎第５号館,13,101,東京都,NaN,NaN
9,1000012160005,東京第五検察審査会,東京都,千代田区,霞が関１丁目１－４,13,101,東京都,NaN,NaN
10,1000013020001,知的財産高等裁判所,東京都,千代田区,霞が関１丁目１－４,13,101,東京都,NaN,NaN
11,1000013050007,武蔵野簡易裁判所,東京都,武蔵野市,中町２丁目４－１２,13,203,東京都,NaN,NaN
12,1000020131105,目黒区,東京都,目黒区,上目黒２丁目１９－１５,13,110,東京都,NaN,NaN
13,1000020131113,大田区,東京都,大田区,蒲田５丁目１３－１４,13,111,東京都,NaN,NaN
14,1000020131121,世田谷区,東京都,世田谷区,世田谷４丁目２１－２７,13,112,東京都,NaN,NaN
15,1000020131229,葛飾区,東京都,葛飾区,立石５丁目１３－１,13,122,東京都,NaN,NaN
16,1000020131237,江戸川区,東京都,江戸川区,中央１丁目４－１,13,123,東京都,NaN,NaN
17,1000020132012,八王子市,東京都,八王子市,元本郷町３丁目２４－１,13,201,東京都,NaN,NaN
18,1000020132128,日野市,東京都,日野市,神明１丁目１２－１,13,212,東京都,NaN,NaN
19,1000020132136,東村山市,東京都,東村山市,本町１丁目２番地３,13,213,東京都,NaN,NaN
20,1000020132144,国分寺市,東京都,国分寺市,戸倉１丁目６－１,13,214,東京都,NaN,NaN
21,1000020132152,国立市,東京都,国立市,富士見台２丁目４７－１,13,215,東京都,NaN,NaN
22,1000020132276,羽村市,東京都,羽村市,緑ヶ丘５丁目２－１,13,227,東京都,NaN,NaN
23,1000020132284,あきる野市,東京都,あきる野市,二宮３５０,13,228,東京都,NaN,NaN
24,1000020132292,西東京市,東京都,西東京市,南町５丁目６－１３,13,229,東京都,NaN,NaN
25,1000020133035,瑞穂町,東京都,西多摩郡瑞穂町,大字箱根ケ崎２３３５,13,303,東京都,NaN,NaN
26,1000020133051,日の出町,東京都,西多摩郡日の出町,大字平井２７８０,13,305,東京都,NaN,NaN
27,1000020133621,利島村,東京都,利島村,２４８,13,362,東京都,NaN,NaN
28,1000020138240,青梅、羽村地区工業用水道企業団,東京都,羽村市,緑ヶ丘２丁目１８－５,13,227,東京都,NaN,NaN
29,1000030130006,箱根ケ崎財産区,東京都,西多摩郡瑞穂町,大字箱根ケ崎２３３５,13,303,東京都,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
911897,9430001023849,ヨシダアセットマネジメント株式会社,東京都,江東区,有明３丁目７番２６号有明フロンティアビルＢ棟９階,13,108,東京都,NaN,NaN
911898,9430001024228,シャトー株式会社,東京都,中央区,日本橋馬喰町２丁目２番１２号,13,102,東京都,NaN,NaN
911899,9430001032809,株式会社グローバルインターナショナルホールディングス,東京都,港区,赤坂３丁目２１番１７号,13,103,東京都,NaN,NaN
911900,9430001041719,インベストメントキャピタル株式会社,東京都,中央区,銀座７丁目１３番５号,13,102,東京都,NaN,NaN
911901,9430001045372,株式会社トリプルエス,東京都,中央区,晴海３丁目６番８－４９０７号,13,102,東京都,NaN,NaN
911902,9430001061155,株式会社Ｃｒｏｓｓｒｏａｄ,東京都,品川区,西五反田７丁目１番１１－８０２号,13,109,東京都,NaN,NaN
911903,9430001061881,株式会社永井地所,東京都,渋谷区,神宮前４丁目２３番３号東高神宮前ペアシティ２０６号室,13,113,東京都,NaN,NaN
911904,9430001062293,株式会社メディット,東京都,港区,南青山３丁目８番３７号第２宮忠ビル６階,13,103,東京都,NaN,NaN
911905,9430001062574,日本メガソーラー整備事業株式会社,東京都,港区,芝２丁目３番１８号ＹＭ芝公園ビル３階,13,103,東京都,NaN,NaN
911906,9430001063226,株式会社エアネーレン,東京都,中央区,銀座３丁目１１番３号,13,102,東京都,NaN,NaN
911907,9430001066550,株式会社サイバーラボ・ルル,東京都,町田市,原町田１丁目１３－１－３１５,13,209,東京都,NaN,NaN
911908,9430002021323,有限会社ヨシトミ実業,東京都,新宿区,歌舞伎町２丁目１８番５－１８０５号,13,104,東京都,NaN,NaN
911909,9440001005012,株式会社ノースジャパン,東京都,中央区,入船１丁目７番３号池田ビル２階,13,102,東京都,NaN,NaN
911910,9440002008253,有限会社コンテクスト,東京都,中央区,八丁堀２丁目２９番１６－３０２号,13,102,東京都,NaN,NaN
911911,9460101004639,アルタジャパン株式会社,東京都,渋谷区,広尾５丁目４番１２号,13,113,東京都,NaN,NaN
911912,9470001004201,株式会社夢や,東京都,渋谷区,代々木３丁目３８番９号,13,113,東京都,NaN,NaN
911913,9470001010769,株式会社ナテックラボ,東京都,千代田区,岩本町３丁目７番２号,13,101,東京都,NaN,NaN
911914,9470001012906,株式会社高松社中,東京都,大田区,南馬込２丁目２２番１号エスポアール馬込２０３,13,111,東京都,NaN,NaN
911915,9470002010388,有限会社ノーザンアーティクル,東京都,八王子市,千人町３丁目１９番７号メゾンファミーユ２０６号,13,201,東京都,NaN,NaN
911916,9480001003565,株式会社社宅．ｃｏｍ,東京都,港区,西麻布１丁目９番７号,13,103,東京都,NaN,NaN
911917,9490001005338,池田紙業株式会社,東京都,世田谷区,下馬６丁目２３番１２号,13,112,東京都,NaN,NaN
911918,9490002007531,株式会社神榮,東京都,中央区,日本橋蛎殻町２丁目８番５号興洋ビル６Ｆ,13,102,東京都,NaN,NaN
911919,9500001003216,株式会社共生,東京都,渋谷区,渋谷３丁目１７番４号アクシーズ７号館８階,13,113,東京都,NaN,NaN
911920,9500001007794,Ｆ＆Ｙカンパニー株式会社,東京都,中央区,新川２丁目１８番４号八重洲マンション４０１,13,102,東京都,NaN,NaN
911921,9500001008867,株式会社アドバンテック,東京都,千代田区,丸の内１丁目８番３号,13,101,東京都,NaN,NaN
911922,9500001010971,株式会社アソラ,東京都,豊島区,東池袋５丁目８番１４－１０１号,13,116,東京都,NaN,NaN
911923,9500001016250,株式会社ジオプラウド,東京都,中野区,東中野３丁目２番４号三光ビル２０２,13,114,東京都,NaN,NaN
911924,9700150003509,日本粘着テープ工業会,東京都,千代田区,内神田１丁目９－１２興亜第２ビル,13,101,東京都,NaN,NaN
911925,9700150011016,キーサイト・テクノロジー厚生年金基金,東京都,八王子市,高倉町９番１号,13,201,東京都,NaN,NaN
911926,9700150066828,三井住友海上企業年金基金,東京都,千代田区,神田駿河台３丁目９番地,13,101,東京都,NaN,NaN

問題10-2: [リンク](https://github.com/hmj/pythonstudy/blob/master/ExercisesPandas.md)