In [5]:
pwd

'/Users/kousuke.suzuki/Desktop/Python_Study'

In [3]:
from pandas import Series, DataFrame
import pandas as pd

In [4]:
df=pd.read_csv('13_tokyo_all_20151130.csv',header=None,encoding='utf-8')
print(df.head())

   0              1   2   3           4           5          6   7    8    9   \
0   1  1000011000005   1   0  2015-10-26  2015-10-05    国立国会図書館 NaN  101  東京都
1   2  1000012010003   1   0  2015-10-26  2015-10-05      内閣法制局 NaN  101  東京都
2   3  1000012010011   1   0  2015-10-26  2015-10-05  郵政民営化推進本部 NaN  101  東京都
3   4  1000012010028   1   0  2015-10-26  2015-10-05  国土強靱化推進本部 NaN  101  東京都
4   5  1000012020002   1   0  2015-10-26  2015-10-05   公害等調整委員会 NaN  101  東京都

      ...      13   14       15  16  17   18  19  20   21          22
0     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
1     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05
2     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
3     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
4     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05

[5 rows x 23 columns]

In [7]:
len(df)

911927

In [8]:
df.shape

(911927, 23)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 911927 entries, 0 to 911926
Data columns (total 23 columns):
0     911927 non-null int64
1     911927 non-null int64
2     911927 non-null int64
3     911927 non-null int64
4     911927 non-null object
5     911927 non-null object
6     911927 non-null object
7     9560 non-null float64
8     911927 non-null int64
9     911927 non-null object
10    911927 non-null object
11    911921 non-null object
12    8617 non-null float64
13    911927 non-null int64
14    911927 non-null int64
15    911572 non-null float64
16    0 non-null float64
17    0 non-null float64
18    1699 non-null object
19    1699 non-null float64
20    151 non-null float64
21    250 non-null object
22    911927 non-null object
dtypes: float64(7), int64(7), object(9)
memory usage: 167.0+ MB

In [11]:
df.describe()

,0,1,2,3,7,8,12,13,14,15,16,17,19,20
count,911927.000000,9.119270e+05,911927.000000,911927.000000,9560.000000,911927.000000,8617.000000,911927,911927.000000,911572.000000,0,0,1699.000000,1.510000e+02
mean,455964.000000,5.011735e+12,1.122989,0.000068,56552.094979,307.197201,60884.309621,13,123.100889,1416859.647173,NaN,NaN,1.906416,4.842586e+12
std,263250.793803,2.581233e+12,1.454541,0.008245,5782.293187,22.908020,7407.177783,0,36.270640,305537.415380,NaN,NaN,2.892267,2.583937e+12
min,1.000000,1.000011e+12,1.000000,0.000000,15638.000000,101.000000,49079.000000,13,101.000000,1000000.000000,NaN,NaN,1.000000,1.010001e+12
25%,227982.500000,3.010402e+12,1.000000,0.000000,52305.750000,301.000000,56540.000000,13,104.000000,1100012.000000,NaN,NaN,1.000000,3.010001e+12
50%,455964.000000,5.011001e+12,1.000000,0.000000,55957.500000,301.000000,61021.000000,13,111.000000,1430023.000000,NaN,NaN,1.000000,5.010001e+12
75%,683945.500000,7.011605e+12,1.000000,0.000000,59708.250000,302.000000,64655.000000,13,119.000000,1660004.000000,NaN,NaN,1.000000,7.010701e+12
max,911927.000000,9.700150e+12,72.000000,1.000000,105113.000000,499.000000,105083.000000,13,421.000000,2080035.000000,NaN,NaN,21.000000,9.470001e+12

In [12]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,1,1000011000005,1,0,2015-10-26,2015-10-05,国立国会図書館,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
1,2,1000012010003,1,0,2015-10-26,2015-10-05,内閣法制局,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
2,3,1000012010011,1,0,2015-10-26,2015-10-05,郵政民営化推進本部,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
3,4,1000012010028,1,0,2015-10-26,2015-10-05,国土強靱化推進本部,NaN,101,東京都,...,13,101,1000014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
4,5,1000012020002,1,0,2015-10-26,2015-10-05,公害等調整委員会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
5,6,1000012030001,1,0,2015-10-26,2015-10-05,法務省,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
6,7,1000012090004,1,0,2015-10-26,2015-10-05,中小企業庁,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
7,8,1000012100002,1,0,2015-10-26,2015-10-05,運輸安全委員会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
8,9,1000012110001,1,0,2015-10-26,2015-10-05,環境省,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
9,10,1000012160005,1,0,2015-10-26,2015-10-05,東京第五検察審査会,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05

In [13]:
df.tail(10)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
911917,911918,9490001005338,1,0,2015-10-28,2015-10-05,池田紙業株式会社,NaN,301,東京都,...,13,112,1540002,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911918,911919,9490002007531,1,0,2015-10-26,2015-10-05,株式会社神榮,NaN,301,東京都,...,13,102,1030014,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911919,911920,9500001003216,1,0,2015-10-28,2015-10-05,株式会社共生,NaN,301,東京都,...,13,113,1500002,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911920,911921,9500001007794,1,0,2015-10-26,2015-10-05,Ｆ＆Ｙカンパニー株式会社,NaN,301,東京都,...,13,102,1040033,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911921,911922,9500001008867,1,0,2015-10-26,2015-10-05,株式会社アドバンテック,NaN,301,東京都,...,13,101,1000005,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911922,911923,9500001010971,1,0,2015-10-28,2015-10-05,株式会社アソラ,NaN,301,東京都,...,13,116,1700013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911923,911924,9500001016250,1,0,2015-10-28,2015-10-05,株式会社ジオプラウド,NaN,301,東京都,...,13,114,1640003,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05
911924,911925,9700150003509,1,0,2015-11-20,2015-10-09,日本粘着テープ工業会,NaN,499,東京都,...,13,101,1010047,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-09
911925,911926,9700150011016,1,1,2015-11-17,2015-10-09,キーサイト・テクノロジー厚生年金基金,NaN,499,東京都,...,13,201,1920033,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-09
911926,911927,9700150066828,1,0,2015-11-17,2015-11-11,三井住友海上企業年金基金,NaN,499,東京都,...,13,101,1010062,NaN,NaN,NaN,NaN,NaN,NaN,2015-11-11

In [14]:
df.query("index==10")

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
10,11,1000013020001,1,0,2015-10-26,2015-10-05,知的財産高等裁判所,NaN,101,東京都,...,13,101,1000013,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05