In [1]:
pwd

'/Users/kousuke.suzuki/Downloads'

In [2]:
cd ~/Desktop/Python_Study/

/Users/kousuke.suzuki/Desktop/Python_Study

In [3]:
from pandas import Series, DataFrame
import pandas as pd

In [8]:
df=pd.read_csv('13_tokyo_all_20151130.csv',header=None,encoding='utf-8')
print(df.head())

   0              1   2   3           4           5          6   7    8    9   \
0   1  1000011000005   1   0  2015-10-26  2015-10-05    国立国会図書館 NaN  101  東京都
1   2  1000012010003   1   0  2015-10-26  2015-10-05      内閣法制局 NaN  101  東京都
2   3  1000012010011   1   0  2015-10-26  2015-10-05  郵政民営化推進本部 NaN  101  東京都
3   4  1000012010028   1   0  2015-10-26  2015-10-05  国土強靱化推進本部 NaN  101  東京都
4   5  1000012020002   1   0  2015-10-26  2015-10-05   公害等調整委員会 NaN  101  東京都

      ...      13   14       15  16  17   18  19  20   21          22
0     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
1     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05
2     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
3     ...      13  101  1000014 NaN NaN  NaN NaN NaN  NaN  2015-10-05
4     ...      13  101  1000013 NaN NaN  NaN NaN NaN  NaN  2015-10-05

[5 rows x 23 columns]